<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title>
    Discover the world | Travel Agency
  </title>
  <meta name="description"
    content="Discover the world with our destinations with best deals on all the market. Start discover now with us.">
  <meta name="keywords" content="travel, deals, paris, amsterdam, new-york">
  <meta name="robots" content="index, follow">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="language" content="English">
  <meta property="og:title" content="Discover the world | Travel Agency" />
  <meta property="og:type" content="article" />
  <meta property="og:image" content="https://picsum.photos/1200/600.webp" />
</head>

<body>
  <noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
        Please enable it to continue.</strong>
  </noscript>
  <div id="app"></div>
</body>

</html>