<template>
  <footer>
    <ul class="benefits">
      <li v-for="benefit in benefits" :key="benefits.indexOf(benefit)">
        <BenefitsItem :img="benefit.img" :desc="benefit.desc" />
      </li>
    </ul>
    <section class="contacts">
      <div>
        <p>Links</p>
        <ul>
          <li><router-link :to="{ name: 'home' }">Home</router-link></li>
          <li>
            <router-link :to="{ name: 'destinations' }"
              >Destinations</router-link
            >
          </li>
          <li><router-link :to="{ name: 'deals' }">Deals</router-link></li>
          <li><router-link :to="{ name: 'contact' }">Contact</router-link></li>
          <li>
            <router-link :to="{ name: 'terms' }"
              >Terms & Conditions</router-link
            >
          </li>
        </ul>
      </div>
      <div>
        <p>Address</p>
        <ul>
          <li>15 rue de la paix</li>
          <li>75010, Paris</li>
          <li>France</li>
          <li>
            <router-link :to="{ name: 'contact' }">Other addresses</router-link>
          </li>
        </ul>
      </div>
      <div>
        <p>Call Us</p>
        <span>+1 0805-540-801</span>
      </div>
    </section>
  </footer>
</template>

<script>
import BenefitsItem from "../ui/BenefitsItem.vue";

export default {
  name: "AppFooter",
  components: {
    BenefitsItem,
  },
  data() {
    return {
      benefits: [
        {
          img: "calculator.png",
          desc: "Compare prices",
        },
        {
          img: "discount.png",
          desc: "Get the best deals",
        },
        {
          img: "support.png",
          desc: "7/7 support",
        },
        {
          img: "online-payment.png",
          desc: "Secure online payment",
        },
      ],
    };
  },
  watch: {
    $route() {
      window.scrollTo({
        top: 0,
        left: 0,
        behavior: "smooth",
      });
    },
  },
};
</script>

<style lang="scss" scoped>
footer {
  margin-top: 10px;
  width: 100%;
  .benefits {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: $blue;
    padding: 15px 0;
    gap: 20px;
    li {
      flex: 1 0 150px;
    }
  }
  .contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: $grey;
    padding: 20px 15px;
    font-weight: 500;
    font-size: 0.9rem;
    border-bottom: solid 20px $orange;
    gap: 20px;
    div {
      flex: 1 0 300px;
      ul {
        display: flex;
        flex-direction: column;
        gap: 5px;
        li a {
          color: $blue;
        }
      }
      span {
        font-size: 2rem;
      }
      &:last-child {
        flex-basis: 35%;
      }
    }
    p {
      font-size: 1.1rem;
      font-weight: 600;
      margin-bottom: 10px;
    }
  }
}
@media (max-width: 530px) {
  .contacts {
    text-align: center;
    div {
      flex-basis: 100%;
    }
  }
}
</style>