<template>
  <header>
    <h1>
      <router-link :to="{ name: 'home' }">
        <img src="@/assets/img/plane.png" />Travel Agency
      </router-link>
    </h1>
    <div id="menu" class="menu" :class="menu ? 'open' : ''">
      <div id="links" class="links" :class="menu ? 'open' : ''">
        <ul>
          <li>
            <router-link :to="{ name: 'home' }" @click="closeMenu"
              >Home</router-link
            >
          </li>
          <li>
            <router-link :to="{ name: 'destinations' }" @click="closeMenu"
              >Destinations</router-link
            >
          </li>
          <li>
            <router-link :to="{ name: 'deals' }" @click="closeMenu"
              >Deals</router-link
            >
          </li>
          <li>
            <router-link :to="{ name: 'contact' }" @click="closeMenu"
              >Contact</router-link
            >
          </li>
        </ul>
      </div>
      <svg
        version="1.1"
        id="Layer_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        width="25"
        height="25"
        viewBox="0 0 150 150"
        @click="openMenu"
        class="burger"
        v-if="!menu"
      >
        <g id="XMLID_240_">
          <path
            id="XMLID_241_"
            d="M15,30h120c8.284,0,15-6.716,15-15s-6.716-15-15-15H15C6.716,0,0,6.716,0,15S6.716,30,15,30z"
          />
          <path
            id="XMLID_242_"
            d="M135,60H15C6.716,60,0,66.716,0,75s6.716,15,15,15h120c8.284,0,15-6.716,15-15S143.284,60,135,60z"
          />
          <path
            id="XMLID_243_"
            d="M135,120H15c-8.284,0-15,6.716-15,15s6.716,15,15,15h120c8.284,0,15-6.716,15-15S143.284,120,135,120z"
          />
        </g>
      </svg>
      <svg
        width="40px"
        height="40px"
        viewBox="0 0 25 25"
        xmlns="http://www.w3.org/2000/svg"
        class="exit"
        id="exit"
        @click="closeMenu"
        v-else
      >
        <g data-name="Layer 2">
          <g data-name="close">
            <rect
              width="30"
              height="30"
              transform="rotate(180 12 12)"
              opacity="0"
            />
            <path
              d="M13.41 12l4.3-4.29a1 1 0 1 0-1.42-1.42L12 10.59l-4.29-4.3a1 1 0 0 0-1.42 1.42l4.3 4.29-4.3 4.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l4.29-4.3 4.29 4.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"
            />
          </g>
        </g>
      </svg>
    </div>
  </header>
</template>

<script>
export default {
  name: "AppHeader",
  data() {
    return {
      menu: false,
      windowWidth: window.innerWidth,
    };
  },
  watch: {
    windowWidth(newWidth) {
      if (newWidth > 750) {
        this.menu = false;
      }
    },
  },
  methods: {
    openMenu() {
      this.menu = true;
    },
    closeMenu() {
      this.menu = false;
    },
    onResize() {
      this.windowWidth = window.innerWidth;
    },
  },
  mounted() {
    this.$nextTick(() => {
      window.addEventListener("resize", this.onResize);
    });
  },
  beforeUnmount() {
    window.removeEventListener("resize", this.onResize);
  },
};
</script>

<style lang="scss" scoped>
header {
  display: flex;
  justify-content: space-between;
  padding: 25px 20px;
  gap: 10px;
  align-items: center;
  h1 {
    height: fit-content;
    img {
      margin-right: 20px;
    }
    a {
      display: flex;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1.3rem;
      align-items: center;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .menu {
    ul {
      display: inline-flex;
      flex-direction: row;
      gap: 70px;
      font-weight: 500;
      font-size: 0.9rem;
      color: $blue;
      li {
        .router-link-exact-active {
          color: $orange;
        }
        a:hover {
          text-decoration: none;
          color: $orange;
        }
      }
    }
    .burger,
    .exit {
      display: none;
      cursor: pointer;
      background-color: $orange;
      padding: 10px;
      border-radius: 3px;
      fill: #fff;
      z-index: 10;
    }
    .exit {
      display: block;
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
}
@media (max-width: 750px) {
  .menu {
    .links {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      text-align: center;
      background-color: #fff;
      .open {
        display: block;
        position: relative;
      }
      ul {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        flex-direction: column;
        font-size: 1.5rem;
      }
    }
    .open {
      display: block;
      width: 100%;
      height: 100%;
    }
    .burger {
      display: block !important;
    }
  }
}
</style>