<template>
  <Banner picture="img/contact.webp" title="Contact" />
  <section class="contact">
    <ContactForm />
    <section class="contact-info">
      <h3>Address</h3>
      <ul>
        <li>15 rue de la paix</li>
        <li>75010, Paris</li>
        <li>France</li>
        <li>+1 0805-540-801</li>
        <li><a href="#">Other addresses</a></li>
      </ul>
      <h3>Information</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit officiis
        eum accusamus tempora fugiat, facilis commodi sed dolore quisquam,
        corporis corrupti natus cum, laborum delectus iure. Ea sapiente illum
        fugiat facilis commodi sed dolore quisquam, corporis corrupti natus cum.
      </p>
    </section>
  </section>
</template>

<script>
import Banner from "../components/ui/Banner.vue";
import ContactForm from "../components/area/ContactForm.vue";

export default {
  name: "Contact",
  components: {
    Banner,
    ContactForm,
  },
};
</script>

<style lang="scss" scoped>
.contact {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 10px;
  section {
    flex: 1 0 300px;
    padding: 15px;
    p {
      font-size: 0.9rem;
      font-weight: 500;
      margin-bottom: 20px;
    }
    ul {
      margin-bottom: 30px;
    }
  }
}
</style>
