<template>
  <Banner picture="img/deals.webp" title="Our bests deals" />
  <section class="destinations-list">
    <DestinationCard
      v-for="dest in deals"
      :key="dest.id"
      :id="dest.id"
      :name="dest.title"
      :hotel="dest.hotel"
      :duration="dest.duration"
      :price="dest.price"
      :picture="dest.pictures[0]"
    />
  </section>
  <p class="results-nb">
    We have found <span>{{ deals.length }}</span> results!
  </p>
</template>

<script>
import Banner from "../components/ui/Banner.vue";
import DestinationCard from "../components/ui/DestinationCard.vue";

export default {
  name: "Deals",
  components: {
    Banner,
    DestinationCard,
  },
  data() {
    return {
      destinations: this.$store.state.destinations,
      deals: [],
    };
  },
  mounted() {
    this.deals = this.destinations.filter(
      (destination) => destination.deal === true
    );
  },
};
</script>