<template>
  <Banner picture="img/destinations.webp" title="All Destinations" />
  <section class="destinations-list">
    <DestinationCard
      v-for="dest in destinations"
      :key="dest.id"
      :id="dest.id"
      :name="dest.title"
      :hotel="dest.hotel"
      :duration="dest.duration"
      :price="dest.price"
      :picture="dest.pictures[0]"
    />
  </section>
  <p class="results-nb">
    We have found <span>{{ destinations.length }}</span> results!
  </p>
</template>

<script>
import Banner from "../components/ui/Banner.vue";
import DestinationCard from "../components/ui/DestinationCard.vue";

export default {
  name: "Destinations",
  components: {
    Banner,
    DestinationCard,
  },
  data() {
    return {
      destinations: this.$store.state.destinations,
    };
  },
};
</script>