<template>
  <section class="top">
    <SearchForm />
    <DestinationCard
      :id="deal.id"
      :name="deal.title"
      :hotel="deal.hotel"
      :duration="deal.duration"
      :price="deal.price"
      :picture="deal.pictures[0]"
      :deal="true"
    />
  </section>
  <h2>Top destinations</h2>
  <section class="destinations-list">
    <DestinationCard
      v-for="dest in destinations"
      :key="dest.id"
      :id="dest.id"
      :name="dest.title"
      :hotel="dest.hotel"
      :duration="dest.duration"
      :price="dest.price"
      :picture="dest.pictures[0]"
    />
  </section>
  <ButtonTemplate link="destinations" text="See more" :big="true" />
</template>

<script>
import SearchForm from "../components/area/SearchForm.vue";
import DestinationCard from "../components/ui/DestinationCard.vue";
import ButtonTemplate from "../components/ui/ButtonTemplate.vue";

export default {
  name: "Homepage",
  components: {
    SearchForm,
    DestinationCard,
    ButtonTemplate,
  },
  data() {
    return {
      destinations: this.$store.state.destinations,
      deal: {},
    };
  },
  created() {
    this.deal = this.destinations.find(
      (destination) => destination.dealOfTheDay === true
    );
    this.destinations = this.destinations.filter(function (destination) {
      return destination.dealOfTheDay !== true;
    });
  },
};
</script>

<style lang="scss" scoped>
.top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 5px;
  .search-area {
    flex: 2 0 500px;
  }
  .deal {
    height: 289px;
    flex: 1 0 350px;
  }
}
.default-button {
  margin: auto;
  margin-bottom: 50px;
}
@media (max-width: 540px) {
  .destinations article,
  .deal,
  .search-area {
    flex-basis: 89% !important;
  }
}
</style>
