<template>
  <section class="not-found">
    <figure>
      <img src="@/assets/img/not-found.svg" alt="Page not found" />
    </figure>
    <h2>Hmm, it seems that this page does not exist anymore...</h2>
    <p>
      We are sorry for the inconvenience, but let us take you to your next
      destination!
    </p>
    <ButtonTemplate link="home" text="Back to home" />
  </section>
  <DestinationLiked title="Discover a new destination" />
</template>

<script>
import ButtonTemplate from "../components/ui/ButtonTemplate.vue";
import DestinationLiked from "../components/area/DestinationsLiked.vue";

export default {
  name: "404",
  components: {
    ButtonTemplate,
    DestinationLiked,
  },
};
</script>

<style lang="scss">
.not-found {
  text-align: center;
  figure {
    width: 40vw;
    margin: 40px auto;
    img {
      width: 100%;
    }
  }
  .default-button {
    margin: 30px auto;
  }
}
</style>
