<template>
  <section class="top-card">
    <div class="gallery">
      <figure
        v-for="picture in destination.pictures"
        :key="destination.pictures.indexOf(picture)"
        @click="openPicture(picture)"
      >
        <img
          :src="require(`@/assets/data/${picture}`)"
          :alt="`Picture of ${destination.title}`"
        />
      </figure>
    </div>
    <div class="informations">
      <div class="title">
        <h2>{{ destination.title }}</h2>
        <p class="price">{{ destination.price }}€</p>
      </div>
      <div class="text">
        <p>{{ destination.hotel }} <span>⭐⭐⭐</span></p>
        <p class="duration">{{ destination.duration }}</p>
        <p class="desc">{{ destination.desc }}</p>
      </div>
      <div class="action">
        <ButtonTemplate link="contact" text="Choose a date" />
        <p class="price">{{ destination.price }}€</p>
      </div>
    </div>
  </section>
  <Banner
    picture="data/106.webp"
    :title="destination.title"
    :subtitle="destination.subtitle"
  />
  <article class="destination-content" v-html="destination.content"></article>
  <DestinationsLiked title="You may also like" ref="LikedDest" />
  <div v-if="bigPicture.state" class="big-picture" @click="closePicture">
    <div class="content">
      <p class="exit">X - Exit</p>
      <figure>
        <img
          :src="require(`@/assets/data/${bigPicture.img}`)"
          :alt="`Picture of ${destination.title}`"
        />
      </figure>
      <p class="desc">Picture of {{ destination.title }}</p>
    </div>
  </div>
</template>

<script>
import ButtonTemplate from "../components/ui/ButtonTemplate.vue";
import Banner from "../components/ui/Banner.vue";
import DestinationsLiked from "../components/area/DestinationsLiked.vue";

export default {
  name: "SingleDestination",
  components: {
    ButtonTemplate,
    Banner,
    DestinationsLiked,
  },
  data() {
    return {
      id: parseInt(this.$route.params.id),
      destination: {},
      bigPicture: {
        state: false,
        img: "",
      },
    };
  },
  methods: {
    reRenderDestinationsLiked() {
      this.$refs.LikedDest.hideComponent();
      this.$refs.LikedDest.showComponent(this.destination.title);
    },
    openPicture(picture) {
      this.bigPicture.state = true;
      this.bigPicture.img = picture;
    },
    closePicture() {
      this.bigPicture.state = false;
    },
  },
  created() {
    this.destination = this.$store.state.destinations.find(
      (destination) => destination.id === this.id
    );
    this.bigPicture.img = this.destination.pictures[0];
  },
  watch: {
    $route(to) {
      if (to.name === "single-destination") {
        this.id = parseInt(this.$route.params.id);
        this.destination = this.$store.state.destinations.find(
          (destination) => destination.id === this.id
        );
        this.reRenderDestinationsLiked();
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.top-card {
  display: flex;
  flex-wrap: wrap-reverse;
  div {
    flex: 1 0 300px;
  }
  .informations {
    flex-grow: 3 !important;
    padding: 25px 20px;
    width: 65%;
    .title {
      display: flex;
      justify-content: space-between;
      .price {
        display: none;
      }
      h2 {
        font-size: 2.2rem;
        margin-bottom: 30px;
        text-align: left;
      }
    }
    .text {
      margin-bottom: 20px;
      p span {
        font-size: 0.6rem;
      }
      .duration {
        font-size: 0.8rem;
        font-style: italic;
      }
    }
    .action {
      display: flex;
      justify-content: space-between;
    }
  }
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5px;
  figure {
    position: relative;
    flex: 1 0 90px;
    height: 80px;
    margin: auto;
    overflow: hidden;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: translate(-50%, -50%);
    }
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      transition: background-color ease-in 0.2s;
    }
    &:hover::after {
      top: 0;
      left: 0;
      background: center no-repeat url("~@/assets/img/zoom.png")
        rgba(0, 0, 0, 0.6);
      cursor: pointer;
    }
    &:first-child {
      flex-basis: 100%;
      position: relative;
      height: 250px;
      overflow: hidden;
    }
  }
}
.banner {
  margin: 15px 0;
}
.big-picture {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  cursor: pointer;
  .content {
    margin-top: 100px;
    width: 100%;
    height: 100%;
    max-height: 600px;
    .exit {
      font-size: 1.3rem;
      color: #fff;
      margin-bottom: 10px;
    }
    figure {
      position: relative;
      width: 80%;
      height: 100%;
      margin: auto;
      overflow: hidden;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
      }
    }
    .desc {
      color: #fff;
      margin-top: 20px;
    }
  }
}
@media (max-width: 650px) {
  .informations {
    .title .price {
      display: block !important;
    }
    .action .price {
      display: none;
    }
  }
  .default-button {
    width: 100%;
  }
}
</style>
<style>
.destination-content p {
  margin-bottom: 20px;
}
</style>