<template>
  <Banner picture="img/terms.webp" title="Terms & Conditions" />
  <article class="terms">
    <h3>Introduction</h3>
    <p>
      These terms and conditions govern your use of this website; by using this
      website, you accept these terms and conditions in full. If you disagree
      with these terms and conditions or any part of these terms and conditions,
      you must not use this website.
    </p>
    <p>
      You must be at least 18 years of age to use this website. By using this
      website and by agreeing to these terms and conditions you warrant and
      represent that you are at least 18 years of age.
    </p>
    <h3>Intellectual Property Rights</h3>
    <p>
      Unless otherwise stated, <span>Travel Agency</span> and/or its licensors
      own the intellectual property rights in the website and material on the
      website. Subject to the license below, all these intellectual property
      rights are reserved.
    </p>
    <p>
      You may view, download for caching purposes only, and print pages from the
      website for your own personal use, subject to the restrictions set out
      below and elsewhere in these terms and conditions.
    </p>
    <p>You must not:</p>
    <ul>
      <li>
        republish material from this website (including republication on another
        website);
      </li>
      <li>sell, rent or sub-license material from the website;</li>
      <li>show any material from the website in public;</li>
      <li>
        reproduce, duplicate, copy or otherwise exploit material on this website
        for a commercial purpose;
      </li>
    </ul>
    <h3>Restrictions</h3>
    <p>
      You must not use this website in any way that causes, or may cause, damage
      to the website or impairment of the availability or accessibility of the
      website; or in any way which is unlawful, illegal, fraudulent or harmful,
      or in connection with any unlawful, illegal, fraudulent or harmful purpose
      or activity.
    </p>
    <p>
      You must not use this website to copy, store, host, transmit, send, use,
      publish or distribute any material which consists of (or is linked to) any
      spyware, computer virus, Trojan horse, worm, keystroke logger, rootkit or
      other malicious computer software.
    </p>
    <p>
      You must not conduct any systematic or automated data collection
      activities (including without limitation scraping, data mining, data
      extraction and data harvesting) on or in relation to this website without
      <span>Travel Agency's</span> express written consent.
    </p>
    <h3>Your Content</h3>
    <p>
      In these terms and conditions, “your user content” means material
      (including without limitation text, images, audio material, video material
      and audio-visual material) that you submit to this website, for whatever
      purpose.
    </p>
    <p>
      You grant to <span>Travel Agency</span> a worldwide, irrevocable,
      non-exclusive, royalty-free license to use, reproduce, adapt, publish,
      translate and distribute your user content in any existing or future
      media. You also grant to <span>Travel Agency</span> the right to
      sub-license these rights, and the right to bring an action for
      infringement of these rights.
    </p>
    <p>
      Your user content must not be illegal or unlawful, must not infringe any
      third party's legal rights, and must not be capable of giving rise to
      legal action whether against you or <span>Travel Agency</span> or a third
      party (in each case under any applicable law).
    </p>
    <p>
      You must not submit any user content to the website that is or has ever
      been the subject of any threatened or actual legal proceedings or other
      similar complaint.
    </p>
    <p>
      <span>Travel Agency</span> reserves the right to edit or remove any
      material submitted to this website, or stored on
      <span>Travel Agency's</span> servers, or hosted or published upon this
      website.
    </p>
    <p>
      <span>Travel Agency's</span> rights under these terms and conditions in
      relation to user content, <span>Travel Agency</span> does not undertake to
      monitor the submission of such content to, or the publication of such
      content on, this website.]
    </p>
    <h3>No warranties</h3>
    <p>
      This website is provided “as is” without any representations or
      warranties, express or implied. <span>Travel Agency</span> makes no
      representations or warranties in relation to this website or the
      information and materials provided on this website.
    </p>
    <p>
      Without prejudice to the generality of the foregoing paragraph,
      <span>Travel Agency</span> does not warrant that:
    </p>
    <ul>
      <li>
        this website will be constantly available, or available at all; or
      </li>
      <li>
        the information on this website is complete, true, accurate or
        non-misleading.
      </li>
    </ul>
    <p>
      Nothing on this website constitutes, or is meant to constitute, advice of
      any kind.
    </p>
    <h3>Limitation of liability</h3>
    <p>
      <span>Travel Agency</span> will not be liable to you (whether under the
      law of contact, the law of torts or otherwise) in relation to the contents
      of, or use of, or otherwise in connection with, this website:
    </p>
    <ul>
      <li>for any indirect, special or consequential loss; or</li>
      <li>
        for any business losses, loss of revenue, income, profits or anticipated
        savings, loss of contracts or business relationships, loss of reputation
        or goodwill, or loss or corruption of information or data.
      </li>
    </ul>
    <p>
      These limitations of liability apply even if
      <span>Travel Agency</span> has been expressly advised of the potential
      loss.
    </p>
    <h3>Indemnification</h3>
    <p>
      You hereby indemnify <span>Travel Agency</span> and undertake to keep
      <span>Travel Agency</span> indemnified against any losses, damages, costs,
      liabilities and expenses (including without limitation legal expenses and
      any amounts paid by <span>Travel Agency</span> to a third party in
      settlement of a claim or dispute on the advice of
      <span>Travel Agency's</span> legal advisers) incurred or suffered by
      <span>Travel Agency</span> arising out of any breach by you of any
      provision of these terms and conditions[, or arising out of any claim that
      you have breached any provision of these terms and conditions].
    </p>
    <h3>Severability</h3>
    <p>
      If a provision of these terms and conditions is determined by any court or
      other competent authority to be unlawful and/or unenforceable, the other
      provisions will continue in effect. If any unlawful and/or unenforceable
      provision would be lawful or enforceable if part of it were deleted, that
      part will be deemed to be deleted, and the rest of the provision will
      continue in effect.
    </p>
    <h3>Variation of Terms</h3>
    <p>
      <span>Travel Agency</span> may revise these terms and conditions from
      time-to-time. Revised terms and conditions will apply to the use of this
      website from the date of the publication of the revised terms and
      conditions on this website. Please check this page regularly to ensure you
      are familiar with the current version.
    </p>
    <h3>Assignment</h3>
    <p>
      <span>Travel Agency</span> may transfer, sub-contract or otherwise deal
      with <span>Travel Agency</span> rights and/or obligations under these
      terms and conditions without notifying you or obtaining your consent.
    </p>
    <p>
      You may not transfer, sub-contract or otherwise deal with your rights
      and/or obligations under these terms and conditions.
    </p>
    <h3>Entire Agreement</h3>
    <p>
      These terms and conditions constitute the entire agreement between you and
      <span>Travel Agency</span> in relation to your use of this website, and
      supersede all previous agreements in respect of your use of this website.
    </p>
    <h3>Governing Law & Jurisdiction</h3>
    <p>
      These terms and conditions will be governed by and construed in accordance
      with French Law, and any disputes relating to these terms and conditions
      will be subject to the [non-]exclusive jurisdiction of the courts located
      in France.
    </p>
  </article>
</template>

<script>
import Banner from "../components/ui/Banner.vue";

export default {
  name: "Terms",
  components: {
    Banner,
  },
};
</script>

<style lang="scss" scoped>
.terms {
  padding: 15px;
  h3 {
    margin-top: 20px;
  }
  span {
    font-weight: 600;
  }
  ul {
    margin-left: 15px;
    li {
      list-style-type: disc;
      margin-left: 20px;
    }
  }
}
</style>
