<template>
  <section class="contact-form">
    <form action="#" method="post">
      <div v-for="input in inputs" :key="inputs.indexOf(input)">
        <InputGlobal
          :name="input.name"
          :label="input.label"
          :placeholder="input.placeholder"
          :type="input.type"
          :options="input.options"
          defaultValue="Select your agency"
        />
      </div>
    </form>
    <ButtonTemplate link="home" text="Send" />
  </section>
</template>

<script>
import ButtonTemplate from "../ui/ButtonTemplate.vue";
import InputGlobal from "../ui/InputGlobal.vue";

export default {
  name: "ContactForm",
  components: {
    ButtonTemplate,
    InputGlobal,
  },
  data() {
    return {
      inputs: [
        {
          name: "firstname",
          label: "Firstname",
          type: "text",
          placeholder: "Mohammed",
        },
        {
          name: "lastname",
          label: "Lastname",
          type: "text",
          placeholder: "Dupont",
        },
        {
          name: "email",
          label: "Email",
          type: "Email",
          placeholder: "dupont.mohammed@email.com",
        },
        {
          name: "agence",
          label: "Nearest agency",
          type: "select",
          options: this.$store.state.agency,
        },
        {
          name: "message",
          label: "Message",
          type: "textarea",
          placeholder: "Write your message here...",
        },
      ],
    };
  },
};
</script>

<style lang="scss" scoped>
.contact-form {
  display: flex;
  flex-direction: column;
  color: $text;
  font-weight: 500;
  gap: 18px;
  form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    div {
      display: flex;
      flex-direction: column;
      flex: 1 0 220px;
      &:last-child {
        flex-basis: 100%;
      }
    }
  }
  .default-button {
    align-self: flex-end;
  }
}
</style>