<template>
  <h2>{{ title }}</h2>
  <section class="destinations-like" v-if="show">
    <DestinationCard
      v-for="dest in liked"
      :key="dest.id"
      :id="dest.id"
      :name="dest.title"
      :hotel="dest.hotel"
      :duration="dest.duration"
      :price="dest.price"
      :picture="dest.pictures[0]"
    />
  </section>
</template>

<script>
import DestinationCard from "../ui/DestinationCard.vue";

export default {
  name: "DestinationsLiked",
  components: {
    DestinationCard,
  },
  props: {
    title: String,
  },
  data() {
    return {
      destinations: this.$store.state.destinations,
      liked: [],
      show: true,
    };
  },
  methods: {
    getLikedDestinations(currentDestination) {
      let dest = this.destinations.filter(
        (destination) => destination.title !== currentDestination
      );
      let liked = [];
      for (let i = 0; i < 3; i++) {
        const rand = Math.floor(Math.random() * dest.length);
        liked.push(dest[rand]);
        dest.splice(rand, 1);
      }
      return liked;
    },
    showComponent(currentDestination) {
      this.liked = this.getLikedDestinations(currentDestination);
      this.show = true;
    },
    hideComponent() {
      this.show = false;
    },
  },
  mounted() {
    this.liked = this.getLikedDestinations(this.title);
  },
};
</script>

<style lang="scss" scoped>
h2 {
  margin: 30px auto 20px auto;
}
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  article {
    flex: 1 0 200px;
    height: 250px;
  }
}
</style>