<template>
  <section class="search-area">
    <h3>Find your holiday</h3>
    <form action="#" method="post">
      <div v-for="input in inputs" :key="inputs.indexOf(input)">
        <InputGlobal
          :name="input.name"
          :label="input.label"
          :placeholder="input.placeholder"
          :type="input.type"
          :options="input.options"
          defaultValue="Select a duration"
        />
      </div>
    </form>
    <ButtonTemplate link="home" text="Find!" />
  </section>
</template>

<script>
import ButtonTemplate from "../ui/ButtonTemplate.vue";
import InputGlobal from "../ui/InputGlobal.vue";

export default {
  name: "SearchForm",
  components: {
    ButtonTemplate,
    InputGlobal,
  },
  data() {
    return {
      inputs: [
        {
          name: "from",
          label: "From",
          type: "text",
          placeholder: "Paris",
        },
        {
          name: "to",
          label: "To",
          type: "text",
          placeholder: "Malte",
        },
        {
          name: "date",
          label: "Date",
          type: "date",
          placeholder: new Date().toISOString().substr(0, 10),
        },
        {
          name: "duration",
          label: "Duration",
          type: "select",
          options: this.daysOptions(10),
        },
      ],
    };
  },
  methods: {
    daysOptions(maxDuration) {
      let options = [];
      for (let index = 1; index <= maxDuration; index++) {
        options.push({
          value: index,
          name: `${index} day${index > 1 ? "s" : ""}`,
        });
      }
      return options;
    },
  },
};
</script>

<style lang="scss" scoped>
.search-area {
  display: flex;
  flex-direction: column;
  background-color: $blue;
  padding: 20px 15px;
  color: #fff;
  gap: 15px;
  border-radius: 4px;
  h3 {
    margin: 0;
  }
  form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    div {
      display: flex;
      flex-direction: column;
      width: 49%;
    }
  }
  .default-button {
    align-self: flex-end;
  }
}
@media (max-width: 610px) {
  .search-area form div {
    width: 100% !important;
  }
}
</style>