<template>
  <AppHeader />
  <router-view v-slot="{ Component, route }">
    <transition name="fade" mode="out-in">
      <div class="view" :key="route.name">
        <component :is="Component"></component>
      </div>
    </transition>
  </router-view>
  <AppFooter />
</template>

<script>
import AppHeader from "./components/layout/AppHeader.vue";
import AppFooter from "./components/layout/AppFooter.vue";

export default {
  name: "App",
  components: {
    AppHeader,
    AppFooter,
  },
  watch: {
    $route: {
      immediate: true,
      handler(to) {
        document.title = to.meta.title
          ? to.meta.title + " | Travel Agency"
          : "Discover the world | Travel Agency";
      },
    },
  },
};
</script>

<style lang="scss">
@import "./assets/styles/global.scss";
</style>
