// Reset all default browsers styling
@import "_reset.scss";

// Global app styling
#app {
  max-width: 1170px;
  margin: auto;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  color: $text;
  line-height: 1.5rem;
  font-size: 14px;
  .view {
    padding: 0 5px;
  }
}

// Page transition
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

a {
  color: $blue;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}

h3 {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 10px;
  border-left: 5px solid $orange;
  padding: 8px 15px;
}

// List of destinations cards
.destinations-list {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 10px;
  margin-bottom: 30px;
  article {
    flex: 1 0 80px;
  }
}

// Information of results number on page
.results-nb {
  text-align: center;
  margin-bottom: 20px;
  span {
    font-weight: 600;
  }
}

// Price of destination
.price {
  width: fit-content;
  padding: 10px 15px !important;
  background-color: $yellow;
  border-radius: 2px 0 0 2px;
  font-size: 1.4rem !important;
  font-weight: 600;
  color: #3a3a3a;
  height: fit-content;
  line-height: 1rem;
}