<template>
  <section class="banner">
    <figure>
      <img :src="require(`@/assets/${picture}`)" :alt="`Picture of ${title}`" />
    </figure>
    <div class="banner-content">
      <h2 :style="!subtitle ? 'margin-bottom: 0' : ''">{{ title }}</h2>
      <p v-if="subtitle">{{ subtitle }}</p>
    </div>
  </section>
</template>

<script>
export default {
  name: "Terms",
  props: {
    picture: String,
    title: String,
    subtitle: String,
  },
};
</script>

<style lang="scss" scoped>
.banner {
  position: relative;
  width: 100%;
  height: 180px;
  color: $grey;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  margin-bottom: 20px;
  figure {
    z-index: -1;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    img {
      position: absolute;
      transform: translate(-50%, -50%);
    }
  }
  .banner-content {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    h2 {
      font-size: 3rem;
      margin-bottom: 12px;
      line-height: 3rem;
    }
  }
}
</style>
