<template>
  <figure>
    <img :src="require(`@/assets/img/${img}`)" :alt="desc" :title="desc" />
  </figure>
  <p>{{ desc }}</p>
</template>

<script>
export default {
  name: "BenefitsItem",
  props: {
    img: String,
    desc: String,
  },
};
</script>

<style lang="scss" scoped>
figure {
  width: 60px;
  margin: auto;
  margin-bottom: 10px;
  img {
    width: 100%;
  }
}

p {
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 500;
}
</style>