<template>
  <router-link
    :to="{ name: link }"
    :class="`default-button ${big ? 'large' : ''}`"
    >{{ text }}</router-link
  >
</template>

<script>
export default {
  name: "ButtonTemplate",
  props: {
    link: String,
    text: String,
    big: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style lang="scss" scoped>
a {
  display: block;
  width: fit-content;
  height: fit-content;
  border: solid 1px $orange;
  border-radius: 3px;
  background-color: $orange;
  text-align: center;
  padding: 8px 30px;
  color: #fff;
  font-weight: 500;
  &:hover {
    background-color: #fff;
    color: $orange;
    text-decoration: none;
  }
}
.large {
  width: 300px;
}
@media (max-width: 600px) {
  .default-button {
    width: 80% !important;
    margin: auto;
  }
}
</style>