<template>
  <article :class="deal ? 'deal' : ''">
    <router-link :to="`/destination/${id}`">
      <figure>
        <img
          :src="require(`@/assets/data/${picture}`)"
          :alt="`Picture of ${name}`"
          :title="`Picture of ${name}`"
        />
      </figure>
      <div class="content">
        <h3 class="destination-top">
          {{ deal ? "Deal of the day" : name }}
        </h3>
        <div class="bottom">
          <div class="hotel">
            <h3 v-if="deal">{{ name }}</h3>
            <p>{{ hotel }}</p>
            <span>{{ duration }}</span>
          </div>
          <p class="price">{{ price }}€</p>
        </div>
      </div>
    </router-link>
  </article>
</template>

<script>
export default {
  name: "DestinationCard",
  props: {
    id: Number,
    deal: {
      type: Boolean,
      default: false,
    },
    name: String,
    hotel: String,
    duration: String,
    price: Number,
    picture: String,
  },
};
</script>

<style lang="scss" scoped>
article {
  position: relative;
  min-width: 250px;
  width: 100%;
  height: 200px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow: hidden;
  a {
    width: 100%;
    height: 100%;
    figure {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: translate(-50%, -50%);
      }
    }
    .content {
      position: absolute;
      background: linear-gradient(180deg, transparent 50%, #000 90%);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: background-color ease-in 0.2s;
      &:hover {
        background-color: rgba(0, 0, 0, 0.8);
      }
      .destination-top {
        color: #fff;
        background-color: $orange;
        padding: 8px 20px;
        width: fit-content;
        font-size: 1.2rem;
        border-radius: 0 0 10px 0;
        border-left: 0;
      }
      .bottom {
        display: flex;
        justify-content: space-between;
        padding-left: 15px;
        padding-bottom: 15px;
        color: #fff;
        line-height: 1rem;
        p {
          padding-top: 5px;
          font-size: 0.8rem;
          line-height: 1rem;
        }
        span {
          font-style: italic;
          font-size: 0.7rem;
        }
      }
    }
  }
}
</style>