<template>
  <label :for="name">{{ label }} :</label>
  <select v-if="type === 'select'" :name="name" :id="name">
    <option value="null" disabled selected>{{ defaultValue }}</option>
    <option v-for="option in options" :key="option" :value="option.value">
      {{ option.name }}
    </option>
  </select>
  <input
    v-else-if="type === 'date'"
    :type="type"
    :id="name"
    :value="placeholder"
    :min="new Date().toISOString().substr(0, 10)"
  />
  <textarea
    v-else-if="type === 'textarea'"
    :name="name"
    :id="name"
    :placeholder="placeholder"
  ></textarea>
  <input v-else :type="type" :id="name" :placeholder="placeholder" />
</template>

<script>
export default {
  name: "InputGlobal",
  props: {
    name: String,
    label: String,
    placeholder: String,
    type: String,
    options: {
      type: Array,
      default: () => [],
    },
    defaultValue: String,
  },
};
</script>

<style lang="scss" scoped>
label {
  margin-bottom: 4px;
  font-size: 0.9rem;
}
input,
select,
textarea {
  padding: 8px 15px;
  border: 1px solid $orange;
}
input[type="date" i] {
  width: auto;
  font-family: inherit;
}
select {
  height: 100%;
}
textarea {
  max-width: 100%;
  min-height: 150px;
  max-height: 300px;
  resize: vertical;
  font-family: inherit;
}
</style>